[flake8]
doctests = True
# compatibility with black
max-line-length = 88
extend-ignore =
    E203,
exclude = 
    .venv
# flake-docstrings
per-file-ignores =
    tests/**:D
    doc/**:D
docstring-convention = google
