[flake8]
exclude =
    .venv,
doctests = True
# compatibility with black
max-line-length = 88
extend-ignore =
    E203,
# flake-docstrings
per-file-ignores =
    src/dipcoatimage/finitedepth/version.py:D
    tests/**:D
    doc/**:D
docstring-convention = google
