[flake8]
doctests = True
exclude =
    build,
    doc,
# compatibility with black
max-line-length = 88
extend-ignore =
    E203,
# flake-docstrings
per-file-ignores =
    src/dipcoatimage/finitedepth/version.py:D
    tests/**:D
    doc/source/conf.py:D
docstring-convention = google
